*{
    font-family: 'SF UI  Text', sans-serif;
    padding: 0;
    margin: 0;
    /*Eliminar la decoracion de los enlaces*/
    text-decoration: none;
    overflow: hidden;
}

.navbarr {
    background-color: #f7f7f7;
    height: 110px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #ffffff;
}

.guiasNavBar {
    color: #a6a6a6;
    margin-left: 10px
}

.navbar li {
    margin-top: 30px;
}

.navbar ul {
    list-style: none;
}

.navbar a {
    display: block;
    background-color: #ffffff;
    color: #747474;
    padding: 10px;
    padding-left: 20px;
    font-style: italic;
}

    .navbar a:hover {
        background-color: #fff3eb;
    }

    /*ICONOS DE CADA OPCION DEL NAVBAR*/
    .navbar a i {
        margin-right: 10px;
        background-image: linear-gradient(to bottom, #b82c2c, #d38538);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

/*Otras paginas*/
.content {
    width: calc(100% - 400px);
    margin-left: 400px;
    position: absolute;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

/*Imagen del usuario (perfil del navbar)*/
.image-container {
    position: relative;
    width: 300px;
    height: 100px;
    margin-left: 10px
}

.avartarImage {
    position: relative;
    display: block;
    width: 70%;
    height: 70%;
    object-fit: contain;
    padding: 10px;
    /*box-sizing: border-box;*/
    margin-left: 800px;
    margin-top: -90px;
}

.userImage {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
    box-sizing: border-box;
}

.welcome-message {
    margin-top: 280px;
    margin-left: -600px; /* Mueve el elemento 100 píxeles a la derecha */
    font-size: 24px; /* Tamaño de la fuente */
    font-weight: bold; /* Estilo de la fuente (negrita) */
    font-family: Arial, sans-serif; /* Fuente utilizada */
    /*text-align: center;*/ /* Alineación del texto */
    /* Otros estilos de fuente personalizados */
}

.userImage2 {
    margin-left: -500px; /* Ajusta el valor según tus necesidades */
}



