body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.centered-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: auto; /* Agrega un desplazamiento horizontal */
}

.tabla {
    border-collapse: collapse;
    width: auto; /* Elimina el ancho fijo de la tabla */
    margin: 0 auto;
    white-space: nowrap; /* Evita el ajuste de línea en las celdas */
}

    .tabla th,
    .tabla td {
        padding: 10px;
        text-align: left;
    }

    .tabla th {
        background-color: #f2f2f2;
    }

    .tabla tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .tabla tr:hover {
        background-color: #e5e5e5;
    }
